{% extends 'base.html'%}
<!DOCTYPE html>
  {% load static%}
  <html>
    <head>

      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title%}Agric business{% endblock%}</title>
    </head>

    <body>
    {% block content%}
    <div class="row">
      <div class="col l2 hide-on-med-and-down" >
        <div class="cat-body">
        <h4 class="flow-text white-text center" id="cat-head">All categories</h4>
        </div>
           <div class="cat-body" id="cat-body">
             <div>
             <a class="waves-effect waves-light btn-large green " id="btn">Mechinaries</a>
             </div>
             <br> <br> <br>
             <div>
             <a class="waves-effect waves-light btn-large green" id="btn-body">Seeds</a>
             </div>
             <br> <br> <br>
             <div>
             <a class="waves-effect waves-light btn-large green" id="btn-bod">Exchange</a>
             </div>
             <br> <br> <br>
        </div>
      </div>
      <div class="col l10">
     {% include 'components/exchange_card.html' %}
      </div>
    </div>
    {% endblock %}
    </body>
  </html>
